<h1>
  {{title}}
</h1>
<nav>
  <a [routerLink]="['http-examples']">Http</a>
  <a [routerLink]="['resolve-examples']">Resolve</a>
  <a [routerLink]="['service-inheritance-examples']">Service inheritance</a>
</nav>
<router-outlet></router-outlet>
<h1 i18n="site header|An introduction header for this sample@@introductionHeader">Hello i18n!</h1>
<br>
<br>
<h1>Ngx translations</h1>
<h1>
  {{ 'ngxheader.ngxtext' | translate }}!!
</h1>
<select #langSelect (change)="translateSvc.use(langSelect.value)">
  <option *ngFor="let lang of translateSvc.getLangs()" [value]="lang" [selected]="lang === translateSvc.currentLang">{{ lang }}
  </option>
</select>
