<div class="my-super-control">
  <div *ngIf="!useDeepCopy">
    <label>USE THE SAME INSTANCE</label>
    <br>
    <label>Val1:
      <span>{{viewModel?.value1}}</span>
    </label>
    <br>
    <label>Val2:
      <span>{{viewModel?.value2}}</span>
    </label>
    <br>
    <label *ngIf="viewModel">Val2:
      <input [(ngModel)]="viewModel.value2" (blur)="onBlur()">
    </label>
  </div>
  <div *ngIf="useDeepCopy">
    <label>USE DEEP COPY</label>
    <br>
    <label>Val1:
      <span>{{val1}}</span>
    </label>
    <br>
    <label>Val2:
      <span>{{val2}}</span>
    </label>
    <br>
    <label *ngIf="viewModel">Val2:
      <input [(ngModel)]="val2" (blur)="onBlur()">
    </label>
  </div>
</div>
